

.w3l-team {
    background: var(--bg-color);
}

.w3l-team .team-info {
    transition: 0.3s ease-in-out;
}

.w3l-team .team-info:hover {
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    transition: 0.3s ease-out;
}

.w3l-team .img-circle {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
}

.w3l-team .img-circle a {
    display: block;
}

.w3l-team .img-circle img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
}

.w3l-team p.team-text {
    font-size: 18px;
    color: var(--heading-color);
    line-height: 30px;
    max-width: 650px;
}

.w3l-team .team-info p {
    font-size: 16px;
    line-height: 24px;
    color: var(--heading-color);
    margin-top: 2px;
}

.w3l-team h3.name-pos a {
    font-size: 20px;
    line-height: 26px;
    color: var(--heading-color);
    font-weight: 600;
    text-decoration: none;
}

.w3l-team .team-info:hover h3.name-pos a {
    color: var(--primary-color);
    transition: 0.3s ease;
}

.w3l-team .column-btm {
    padding: 30px;
    background: var(--bg-grey);
    border-radius: 0 0 6px 6px;
    border: 1px solid var(--bg-border);
    border-top: none;
    margin-top: -6px;
    position: relative;
    text-align: center;
}

.w3l-team .column a img {
    display: block;
    border-radius: 6px 6px 0 0;
}

.w3l-team .social {
    position: absolute;
    top: -18px;
    right: 5px;
}

.w3l-team .social .facebook,
.w3l-team .social .twitter {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}


.w3l-team .social .facebook {
    color: #3b5998;
    background: var(--font-color);
}

.w3l-team .social .twitter {
    background: #1da1f2;
    color: var(--font-color);
    padding: 5px;
}


@media (max-width: 767px) {
    .w3l-team .team-wrap:nth-child(1) {
        margin-top: 10px;
    }

    .w3l-testimonials .message {
        font-size: 16px;
        line-height: 28px;
        text-align: left;
    }

    .w3l-team h3.name-pos a {
        font-size: 18px;
        line-height: 22px;
    }

    .w3l-team .column-btm {
        padding: 20px 10px;
    }
}

@media (max-width: 667px) {
    .w3l-team .team-info p {
        font-size: 14px;
        line-height: 14px;
    }

    .w3l-team h3.name-pos a {
        font-size: 16px;
        line-height: 28px;
    }
}
