

.footer-sec {
    background: var(--footer-bg);
}

.footer-sec a.navbar-brand {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    padding: 0;
}

.footer-sec h6.footer-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 600;
    position: relative;
    color: #fff;
}

.footer-sec .footer-list ul li,
.footer-sec .midd-footer:nth-child(1) .footer-list ul li:last-child {
    list-style: none;
    margin-bottom: 10px;
}

.footer-sec .footer-list ul li:last-child {
    margin-bottom: 0px;
}

.footer-sec .footer-list ul li a,
.footer-sec .footer-list p,
.footer-sec .footer-list ul li p {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-white);
    text-decoration: none;
}

.footer-sec .footer-list ul li a:hover {
    color: var(--primary-color);
}

.copyrightd-sec #movetop {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3s ease-out;
}

.copyright-sec .main-social-footer a {
    margin-left: 10px;
    color: #9ba0ac;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    transition: 0.3s;
}

.copyright-sec .main-social-footer a:hover {
    transition: 0.3s;
}

.copyright-sec .main-social-footer a.facebook:hover {
    background: #3b5998;
    color: #fff;
}

.copyright-sec .main-social-footer a.twitter:hover {
    background: #1da1f2;
    color: #fff;
}

.copyright-sec .main-social-footer a.instagram:hover {
    background: #c13584;
    color: #fff;
}

.copyright-sec .main-social-footer a.linkedin:hover {
    background: #0077b5;
    color: #fff;
}

.copyright-sec .main-social-footer a.google-plus:hover {
    background: #dd4b39;
    color: #fff;
}

.footer-sec .footer-list ul li span.fa {
    width: 25px;
}

.copyright-sec .main-social-footer a:last-child {
    margin-right: 0;
}

.copyright-sec .copy-footer a {
    color: var(--primary-color);
    font-weight: 600;
}

.copyright-sec .copy-footer a:hover {
    color: #fff;
}

.copyright-sec .main-social-footer {
    text-align: right;
}

.copyright-sec {
    padding: 1.5em 0;
    background: var(--footer-bg);
    border-top: 1px solid hsl(0deg 0% 87% / 5%);
}

.footer-sec .footer form {
    margin-top: 25px;
    position: relative;
}

.footer-sec .footer-post a {
    font-weight: 500;
    color: #ccc;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 4px;
    display: inline-block;
}

.footer-sec .footer-post a:hover {
    color: #eee;
}

.footer-sec .footer .subscribe input[type="email"] {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid var(--border-color-light);
    outline: none;
    width: 100%;
    color: var(--heading-color);
    background: var(--bg-color);
    border-radius: var(--border-radius-full);
}

.copyright-sec p.copy-footer {
    align-self: center;
    color: #ddd;
}

.footer-sec .footer .subscribe input[type="email"]:focus {
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
}

@media (max-width: 992px) {
    .copyright-sec .copy-footer {
        text-align: center;
    }

    .footer-sec .main-social-footer {
        text-align: center;
        margin-top: 20px;
    }

    .footer-sec ul.list-btm {
        text-align: center;
        margin-top: 10px;
    }

    .footer-sec h6.footer-title {
        margin-bottom: 20px;
    }

    .copyright-sec .main-social-footer {
        text-align: center;
        margin-top: 20px;
    }

    .footer-sec h6.footer-title {
        font-size: 20px;
    }
}

@media (max-width: 480px) {

    .footer-sec .footer-list ul li,
    .footer-sec .midd-footer:nth-child(1) .footer-list ul li:last-child {
        margin-bottom: 8px;
    }

    .footer-sec a.navbar-brand {
        font-size: 26px;
    }
}